/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #548687;
}

/* Main content container */
main {
    text-align: center;
}

/* Title */
h1 {
    margin: 15px;
    font-size: 50px;
}

/* Button container styling */
.bt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Button styling */
button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

/* Responsive Design */

